[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
python-dotenv = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
deep-translator = "*"
transformers = {extras = ["torch"], version = "*"}
sklearn = "*"
boto3 = "*"
spacy = "*"
dvc = {extras = ["gdrive"], version = "*"}
hydra-core = "*"
git-lfs = "*"
click = "*"
protobuf = "==3.20.0"
imbalanced-learn = "*"
tqdm = "*"
geopy = "*"

[dev-packages]
pytest = "*"
jupyter = "*"
jupyter-nbextensions-configurator = "*"
jupytext = "*"
jupyter-ascending = "*"
pandas-stubs = "*"
pre-commit = "*"
flake8 = "*"
setuptools = "*"

[requires]
python_version = "3.10"
