[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
python-dotenv = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
nltk = "*"
deep-translator = "*"
transformers = {extras = ["torch"], version = "*"}
sklearn = "*"
awscli = "*"
boto3 = "*"
datasets = {extras = ["s3"], version = "*"}
sagemaker = "*"
botocore = "*"

[dev-packages]
pytest = "*"
jupyter = "*"
jupyter-nbextensions-configurator = "*"
jupytext = "*"
jupyter-ascending = "*"
pandas-stubs = "*"

[requires]
python_version = "3.10"
