[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
python-dotenv = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
nltk = "*"
deep-translator = "*"

[dev-packages]
pytest = "*"
jupyter = "*"
jupyter-nbextensions-configurator = "*"
jupytext = "*"
jupyter-ascending = "*"

[requires]
python_version = "3.10"
